@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";

*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: "Oxygen", sans-serif;
}

/* Navbar */
.navbar-light {
  background: #f6b319;
  height: 170px;
}

.navbar-brand {
  width: 185px;
  height: 185px;
  padding-top: 15px;
  padding-left: 25px;
  margin: 0px;
  float: left;
}

.brand {
  height: 130px;
  width: 435px;
  padding-left: 15px;
  padding-top: 15px;
}

.brand-name {
  text-decoration: none;
}

.brand-name h1 {
  font-family: "Lora", serif;
  color: #557c3e;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1.25px 1.25px 1.25px #222;
  line-height: .75;
}

.kosher {
  text-align: left;
}

.kosher-name {
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  vertical-align: middle;
}

.navbox {
  padding-top: 0px;
}

.nav-item {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  padding: 0 0.5rem 0 2.5rem;
  text-align: center;
  line-height: 1.5;
}

.fas {
  vertical-align: middle;
}

.contact {
  padding-top: 10px;
}

.contactno {
  color: #61122f;
  font-size: 1.2em;
  text-decoration: none;
}

.slogan {
  color: #557c3e;
  font-size: 0.9em;
  text-align: right;
}

.jumbotron {
  padding-top: 10px;
}

.img-fluid {
  height:120%;
  width: 100%;
}

.tiles {
  overflow: auto;
  height: 100%;
}

.menu-tile {
  background-image: url("menu-tile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  border-radius: 15px;
  height: 325px;
  width: 100%;
  margin: 15px 30px 15px 15px;
  padding: 0px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

.specials-tile {
  background-image: url("specials-tile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  border-radius: 15px;
  height: 325px;
  width: 100%;
  margin: 15px 30px 15px 30px;
  padding: 0px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

.map-tile {
  float: left;
  border-radius: 15px;
  height: 325px;
  width: 100%;
  margin: 15px 15px 15px 30px;
  padding: 0px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

.menu-tile span, .specials-tile span, .map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

footer {
  position:absolute;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.hours {
  float: left;
  border-radius: 15px;
  height: 250px;
  width: 100%;
  margin: 15px;
  font-size: 15px;
  line-height: 200%;
}

.hours h3 {
  font-family: "Lora", serif;
  font-size: 1.3em;
}

.testimonials {
  float: left;
  border-radius: 15px;
  height: 250px;
  width: 100%;
  margin: 15px;
  font-size: 15px;
  line-height: 200%;
}

.testimonials h3 {
  font-family: "Lora", serif;
  font-size: 1.3em;
}

.testimonials p {
  font-style: italic;
}

.address {
  float: left;
  border-radius: 15px;
  height: 250px;
  width: 100%;
  margin: 15px;
  font-size: 15px;
  line-height: 200%;
}

.address h3 {
  font-family: "Lora", serif;
  font-size: 1.3em;
}

.address p{
  padding-top: 15px;
  color: #557c3e;
  line-height: 1.8;
}

.copyright {
  font-style: italic;
  padding-top: 15px;
}
