*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: "Oxygen", sans-serif;
}

/* ------------------------------HEADER------------------------------------- */
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  height: 170px;
}

.container {
  margin: 0;
}

#logo-img {
  background: url("restaurant-logo.png") no-repeat;
  width: 150px;
  height: 150px;
  margin: 0px;
  /* float: left; */
}

.navbar-brand {
  padding-top: 25px;
  padding-left: 160px;
}

.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #557c3e;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1.25px 1.25px 1.25px #222;
  line-height: .75;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
}

.navbar-brand p span {
  vertical-align: middle;
}
